---
layout: default
title: El Efe
---

#about

  =header "Acerca de mi"
  
  :textile
  
    Hola, soy Lucas Efe.

    Programo en algunos lenguajes, pero mi preferido es Ruby, por lejos.

    Toco el bajo y canto en una banda de pop-rock que se llama "Justo al Caer":http://www.justoalcaer.com.ar. La formaci&oacute;n se completa con Ezequiel en guitarra y con mi mac en acompa&ntilde;amiento.

    Estoy viviendo en pareja, muy feliz, desde agosto de 2008 en pareja en el barrio porte&ntilde;o de Villa Crespo con mi amada novia Tam (&iquest;Se pone novia cuando se est&aacute; conviviendo?)

    Si me necesitan pueden encontrarme en el maldito google muy f&aacute;cilmente... lo cual es preocupante. :/
    
    Pod&eacute;s leer un poco de mi carrera profesional en mi <a href='/cv.html'>CV</a>
    
    Contactarme es simple: lucasefe (arroba) gmail (punto) com