---
layout: default
title: Bio
---
#integrantes
  .grid_6.alpha
    %h3 Justo al Caer está formada por:
    %ul
      %li 
        %strong Edu Vestel: 
        Bater&iacute;as NO programadas.
      %li 
        %strong Ezequiel Guerrero: 
        Guitarras, Teclados.
      %li 
        %strong Lucas Florio: 
        Voz, Bajo, Coros, Teclados.
      %li 
        %strong Miguel Angel Esp&iacute;ndola: 
        Guitarra y Coros.

  .grid_6.omega
    %h3 Colaboran siempre que pueden y quieren:
    %ul
      %li 
        %strong Tam Goldsztajn: 
        Con su hermosa voz.
      %li 
        %strong Marcos Garc&iacute;a: 
        Con su arte.
      %li 
        %strong Mariano Ocampo: 
        Con su ojo fotogr&aacute;fico.

.clear
#bio
  %p Justo al caer logro amortiguarme en tu alma, en tu sensibilidad y tu locura.
  %p
    %em
      %strong
        Justo al Caer
    me doy cuenta de lo que tengo, que es todo; y de lo que pierdo en un inmenso vaso de agua y de duda.
  %p 
    %strong Justo al Caer 
    acepto que el final es inevitable, y que s&oacute;lo podemos ser nosotros, aprender a no traicionarnos y acompa&ntilde;ar con m&uacute;sica nuestra vida.
  %p 
    %em Justo al Caer
    comienza a gestarse en 2006 para consolidarse como banda en 2008, pero sus integrantes - Lucas Florio (voz / bajo) y Ezequiel Guerrero (guitarras) - buscaron llegar a este momento muchos a&ntilde;os antes.
  %p Somos en funci&oacute;n de lo que fuimos: Dos proyectos anteriores ("Rompiente" y "J&uacute;piter Solo") nos ayudaron a concebir lo que es
  %p 
    %em Justo al Caer 
    hoy y lo que esperamos de la banda para el futuro…

  %p Con influencias ecl&eacute;cticas que van desde el pop hasta el rock progresivo,
  %p 
    %strong Justo 
    busca ser un canal de comunicaci&oacute;n, un punto de contacto, un puente desde y hacia lo que nos pasa.

  %p Siguiendo con la historia, en alg&uacute;n momento del 2007,
  %p "Justo" decide buscar un baterista para completar una formaci&oacute;n en tr&iacute;o. Esto no tuvo demasiado &eacute;xito hasta el momento…

  %p La b&uacute;squeda del baterista comenz&oacute; a prolongarse m&aacute;s de lo esperado, por lo que entre Septiembre 2008 y Febrero 2009, Justo al Caer decide grabar su primer EP compuesto por 7 temas, en un formato "casi" unplugged, con ayuda de “BEP” (bater&iacute;as electr&oacute;nicas programadas ;) )

  %p En Diciembre de 2008 se hace la presentaci&oacute;n extra oficial del EP, para familiares, amigos y gente cercana a la banda.

  %p El oto&ntilde;o e invierno de 2009 es el momento de los ensayos, los ajustes y el desarrollo del site que est&aacute;s navegando. Esperemos que la primavera traiga todas esas cosas buenas que suele dar...