---
layout: default
title: CV
---

#cv

  =header "CV/Resum&eacute;"
  
  :textile

    h2. Who I am

    I am a developer mostly focused on dynamic languages like Ruby, but with knowledge of PHP, C# &amp; Java. I also have a big foundation in networking due to my first jobs into the IT area.

    I am a self-taught, pragmatic person, very much into the craft of building applications. I really enjoy what I do, and I wouldn’t trade it for nothing.

    If I am in a position of choosing a development methodology, I’ll choose to follow the Agile model.

    h2. What I am doing now

    *Software Developer at Red Intercable Digital Buenos Aires 2007-Present Day*

    I am currently working on an application for a telecommunications company. The purpose of the app is to integrate the functionality of a CRM and a Network Provisioning service in order to concentrate the business information at one place only, and also to decrease the human error on network configuration tasks. This project is now in the final stages.

    I am also managing and developing several projects, most of them internal, all based on rails. The main project at this moment its a billing application that integrates all the corporate network clients in one place, provides a clean interface for billing, and helps dealing with the the current AFIP regulation. 

    *Software Developer as Freelancer: 2008-Present Day*

    I am working on a big community site. We are hoping to release it pretty soon, probably by the end of the year. 

    Other projects I have been involved in:

    * "Suipit":http://www.suipit.com/ Project management tool in spanish. 
    * "Che Cupcakes Website":http://www.checupcakes.com.ar/ CMS-like, with some CRM features. 
    * "Justo al Caer Website":http://www.justoalcaer.com.ar/ CMS-like, for my Rock&Pop band.

    h2. What I did before

    h3. Virtualizar Development Buenos Aires, 2006-Early 2008

    I co-owned a development firm with Pedro Visint&iacute;n. We worked on projects built with Ruby &amp; Rails, using also mongrel, capistrano, rmagick, rspec, resource controller, git/svn and many more Open Source components.

    BackOffice (Network Provisioning System &amp; CRM)

    * BackOffice (Network Provisioning System &amp; CRM)
    * InfoMultas ("Callcenter":http://www.infomultas.com.ar/)
    * ... to name a few.

    h3. Developer at Banco Galicia de Buenos Aires Buenos Aires, 2006-2007

    I performed two jobs in one. I worked programming applications for different targets: A search engine for the source control used at the software factory (java-console app), and 3 to 4 medium size websites for a small group of users inside the corporation (java-struts, hibernate, spring). I also worked as a SCM (Rational ClearCase) Administrator, providing support to 300 developers.

    h3. Network Administrator at e-volution Buenos Aires, 2003-2005

    I performed tasks of analysis, configuration, and tuning of the inter-networking infrastructure of the corporation. I also maintain all the windows and linux based servers. At the same time I developed a tool for managing the updates of many projects to ease the complexity of the deployment task (the primary business of e-volution is web development).

    Datacenter Specialist at iplan networks Buenos Aires, 2004 I worked building, configuring and deploying Linux servers for iplan telecommunications. My main task was to tune the Calling Card platform based on MySQL-TCL/TK-PHP.

    h2. Education

    * Instituto Tecnol&oacute;gico ORT Nro. 2 — Computer analyst - 2006.
    * Nacional of San Isidro -  Bachiller.

    h2. Languages

    Spanish, English

    h2. Skills &amp; Miscellaneous

    * Programming with different languages, including Ruby, PHP, C#, Pascal, Java, Bash.
    * Web Design with HTML and CSS.
    * MySQL, SQL Server and basic knowledge of Oracle.
    * Administration of Linux Servers (redhat, debian &amp; gentoo).
    * Virtualization based on the Xen/Linux platform.
    * Configuration &amp; Maintenance   of network services like Apache, Ngynx, postfix, bind, monit, MySql, NFS, SVN, Tomcat.
    * Administration of Active Directory Network Services, and also Exchange Server, SQL server and Sharepoint Server.
    * Microsoft Certified Professional in Windows Server 2000, Active Directory Design and Analysis (2002).

    h2. Talks

    * 60 minutos On Rails. It was an introduction dictated on the CafeConf 2006, which is a conference focused on promoting Open Source. The talk was co-hosted with Pedro Visintin.
    * Ruby On Rails, brief introduction. Prior to the CafeConf talk, we gave a practical workshop about the features provided in rails version 1.1.
    * I regularly write in the RoR community site: http://blogs.onrails.com.ar/ about Ruby and Rails.