---
title: A kil&oacute;metros de ac&aacute; - EP
layout: default
---
= header "A kil&oacute;metros de ac&aacute;"

#ep

  %p &copy; 2009 - Justo Records

  %p 
    Durante los &uacute;ltimos meses del 2009, presentamos en vivo nuestro primer EP compuesto por 6 canciones (+ Navegar en versi&oacute;n rockera). Estas fueron concebidas, grabadas, arregladas y producidas por JAC con mucho esfuerzo, entre 2008 y 2009. En este proceso colaboraron tambi&eacute;n Tam Goldsztajn (en la mayor&iacute;a de los coros) y Marcos Garc&iacute;a, quien dise&ntilde;&oacute; un surrealista arte de tapa.
  
  %p.cover
    %img{:src => '/images/JACEP2009.png'}

  %p 
    Bajate nuestro EP haciendo clic:
    = link_to 'Justo al Caer - A kil&oacute;metros de ac&aacute;', '/descargas/JACEP2009.zip'

