--- 
layout: default
title: fechas
---

= header "Fechas"

#fechas
  .fecha
    .dia 12 de Junio de 2010
    .lugar Espacio Olivos
    .direccion Av. Ugarte ....  Olivos
    .descripcion Nos presentamos junto a Experimento Zeus. 
    .horario 21 hs.
    .entrada $10.-

  .fecha
    .dia 4 de Diciembre de 2009
    .lugar Libario
    .direccion Julian Alvarez 1315 - Palermo
    .descripcion Nos presentamos junto a Quinta Esencia, de Rio Cuarto.
    .horario 22 hs.
  .fecha
    .dia 12 de Noviembre de 2009
    .lugar Kronopios
    .direccion Av. Elcano 3640
    .descripcion Nos presentamos junto a CANNABIS
    .horario 21.30 hs.
    
    