--- 
layout: default
title: fechas
---

= header "Fechas"

#fechas
  .fecha
    .dia 12 de Junio de 2010
    .lugar Espacio Olivos
    .direccion Ugarte 2684 Olivos
    .descripcion 
      Nos presentamos junto a 
      = link_to 'Experimento Zeus', 'http://www.myspace.com/experimentozeus67'
    .horario Horario: 21 hs.
    .entrada Entrada: $10.-
    
    %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=107081036925552538090.000487a8c401b0384b4e0&amp;ll=-34.517908,-58.502841&amp;spn=0.008009,0.01929&amp;iwloc=000487a8c408865151b8d&amp;output=embed", :width => "425"}

  .fecha
    .dia 4 de Diciembre de 2009
    .lugar Libario
    .direccion Julian Alvarez 1315 - Palermo
    .descripcion Nos presentamos junto a Quinta Esencia, de Rio Cuarto.
    .horario 22 hs.
  .fecha
    .dia 12 de Noviembre de 2009
    .lugar Kronopios
    .direccion Av. Elcano 3640
    .descripcion Nos presentamos junto a CANNABIS
    .horario 21.30 hs.
    
    