--- 
layout: default
title: fotos
---

= header "Fotos"

#fotos
  .photoset
    %h2 
      Libario 2009
      .autor
        por
        =link_to('Mariano Ocampo', 'http://www.flickr.com/photos/drfuoco/')
    #libario-2009
  .clear
  .photoset
    %h2 
      Kronopios 2009
      .autor
        por
        =link_to('Mariano Ocampo', 'http://www.flickr.com/photos/drfuoco/')
    #kronopios-2009.photoset
