--- 
layout: default
title: M&uacute;sica
---

= header "M&uacute;sica"

#musica
  %ul
    %li
      %a{:href => '#volando-en-descubierto'}Volando en descubierto
    %li
      %a{:href => '#tun-tun-tun'}Tun Tun Tun
    %li
      %a{:href => '#cicatrizar'}Cicatrizar
    %li
      %a{:href => '#navegar'}Navegar
    %li 
      %a{:href => '#otros-dos'}Otros dos
    %li
      %a{:href => '#amorcicilina'}Amorcicilina
    %li
      %a{:href => '#sin-amor'}Sin Amor
    %li
      %a{:href => '#estoy-no-estoy'}Estoy-no estoy
    
  %br
  
  #volando-en-descubierto.letra
    %h2 Volando en descubierto

    %p
      Algunos d&iacute;as solo hay un hoy.
      %br
      Camino, respiro y no se muy bien adonde voy.
      %br
      No hay pasado, ma&ntilde;ana ni destino.
      %br
      No hay m&aacute;s premio que aquel que me escribo.

    %p.estribo
      Y parece que podr&iacute;amos lograrlo,
      %br
      desembarcando en tierra y no retornando.
      %br
      Vos y yo, sorteando el desierto,
      %br
      aunque no parezca, volando en descubierto.
    
    %p
      Algunos d&iacute;as, yo solo me tengo a mi.
      %br
      Ruedo, reflejo y no se como partir.
      %br
      Solo me resta imaginarme este lugar.
      %br
      Sin las sorpresas que me cuesta olvidar.

    %p.estribo
      Y parece que podr&iacute;amos lograrlo,
      %br
      desembarcando en tierra y no retornando.
      %br
      Vos y yo, sorteando el desierto,
      %br
      aunque no parezca, volando en descubierto.
    
  #tun-tun-tun.letra
    %h2 Tun Tun Tun

    %p 
      Me despiertas… una mirada carnal,
      %br
      Angelical sudor del pensamiento va…
      %br
      Desenfreno… ternura que te hace dudar,
      %br
      y una mirada que hasta el cielo entero da…

    %p 
      A kil&oacute;metros de ac&aacute;,
      %br
      sintiendo que te vas.
      %br
      Pensando en no cambiar,
      %br
      aquello que me das…

    %p.estribo
      Sin embargo cruzo ya,
      %br
      oc&eacute;anos de caras mientras sigo tu postal.
      %br
      Campos y cielos te invitan a so&ntilde;ar,
      %br
      desiertos, te envuelven y van…
    
    %p 
      Me despiertas… tus l&aacute;grimas me hacen llorar,
      %br
      angelical temblor del pensamiento va…
      %br
      Desenfreno… cintura que te lleva a amar,
      %br
      unas palabras que el infierno envidiar&aacute;.

    %p 
      A kil&oacute;metros de ac&aacute;,
      %br
      sintiendo que te vas.
      %br
      Pensando en no cambiar,
      %br
      aquello que me das…
    
    %p.estribo 
      Sin embargo cruzo ya,
      %br
      oc&eacute;anos de caras mientras sigo tu postal.
      %br
      Campos y cielos te invitan a so&ntilde;ar,
      %br
      desiertos, te envuelven y van…
    
  #cicatrizar.letra
    %h2 Cicatrizar

    %p
      Si es que quiero intentar,… la irrealidad
      %br
      Mis dudas y el dolor deber&eacute; ahuyentar
      %br
      tratar de olvidar lo que pas&oacute;…
      %br
      es mi oportunidad de recomenzar
    %p.estribo
      Vasos, venas, dolores,… no cicatrizan
      %br
      Y mis manos me destierran, con arena de mar
      %br
      Solo espero que convengas,… en no abandonar
      %br
      Y esperes que sanemos,…. sin ir m&aacute;s all&aacute;
    %p
      Y a veces vuelvo a navegar sin tu mirar
      %br
      Revivo al derribar la soledad
      %br
      Crees en no callar lo que dir&aacute;n
      %br
      Es tu oportunidad de olvidar el mar
    %p.estribo
      Vasos, venas, dolores,… no cicatrizan
      %br
      Y mis manos me destierran, con arena de mar
      %br
      Solo espero que convengas,… en no abandonar
      %br
      Y esperes que sanemos,…. sin ir m&aacute;s all&aacute;
    
  #navegar.letra
    %h2 Navegar

    %p 
      Si miro atr&aacute;s
      %br
      tu amor no espera m&aacute;s,
      %br
      Lo suficiente para mi,
      %br
      no creo que te pueda alcanzar
    %p.estribo 
      Toma mi mano,
      %br
      vamos a navegar
      %br
      Te ofrezco un poco de lo que no hay
    %p 
      Si miro atr&aacute;s
      %br
      es porque no puedo avanzar
      %br
      Si me detengo
      %br
      es porque quiero estallar
    %p.estribo 
      Besando tus ojos
      %br
      te invito a navegar
      %br
      Te ofrezco un poco de lo que habr&aacute;
    %p 
      Si miro atr&aacute;s
      %br
      es porque no puedo avanzar
      %br
      Si me detengo
      %br
      es porque quiero estallar
    %p.estribo
      Besando tus ojos
      %br
      te invito a navegar
      %br
      Te ofrezco un poco de lo que habr&aacute;
    
  #otros-dos.letra
    %h2 Otros dos
    
    %p
      Ni me puedo dormir, eso ya lo sabes bien
      %br
      S&oacute;lo escucho tu respirar, mi inmensa soledad
      %br
      Y si suelto es r&iacute;o que, desliza mi alma hoy
      %br
      S&oacute;lo escucho tu respirar
    %p.estribo  
      Ese extra&ntilde;o espiral, que domina mi voz
      %br
      Si te escucho respirar
      %br
      Ese extra&ntilde;o espiral, que domina mi voz
      %br
      Si me escucho respirar
    %p  
      Imposible pensar, y no mirar hacia atr&aacute;s
      %br
      Mil palabras sin una voz,…..
      %br
      Y mi mente se nutre de paciencia que viene y va
      %br
      Mil palabras sin una voz,…..
    %p.estribo
      Ese extra&ntilde;o espiral, que domina mi voz
      %br
      Si te escucho respirar
      %br
      Ese extra&ntilde;o espiral, que domina mi voz
      %br
      Si me escucho respirar
    
  #amorcicilina.letra
    %h2 Amorcicilina

    %p
      Sientes mi calma, yo tu ansiedad
      %br
      despejo dudas, act&uacute;o por azar
      %br
      Y sin embargo llorando est&aacute;s
      %br
      sensibles r&iacute;os chocan (con) salado mar
    %p
      Viendo tus ojos nunca dejo el mar
      %br
      Arena s&uacute;bita se acerca mas
      %br
      desnuda quedas ante mi disfraz
      %br
      R&aacute;fagas, dulce canci&oacute;n de azahar
    %p.estribo
      Amorcicilina, refuerza mis defensas malheridas
      %br
      y sin poderte hablar, exp&aacute;ndete invisible ante mi vida
      %br
      S&eacute; mi vitamina, destruye mis dolores y agon&iacute;as
      %br
      y sin poder cantar, revu&eacute;lcate insensible ante mis d&iacute;as
    %p
      Paradigmas de cristal
      %br
      no es casualidad
      %br
      ya no es igual…
    %p
      Un espacio entre tu luz, Claroscuro
      %br
      Percepci&oacute;n y un haz de luz, rompo el muro
    %p
      Entre tus ojos nunca dejo el mar
      %br
      Niebla s&uacute;bita se acerca mas
      %br
      desnuda quedas ante mi disfraz
      %br
      R&aacute;fagas, dulce canci&oacute;n de azahar.
    %p.estribo
      Amorcicilina, refuerza mis defensas malheridas,
      %br
      y sin poderte hablar, exp&aacute;ndete invisible ante mi vida
    %p
      Refracciones de un im&aacute;n,
      %br
      tan distinto, nena…
      %br
      que es igual
    
  #sin-amor.letra
    %h2 Sin Amor

    %p
      Dialogando con mi propia verdad,
      %br
      no encuentro como desertar.
      %br
      Retornando al mismo lugar,
      %br
      no recuerdo qu&eacute; ser&aacute;…

    %p
      De mi… certera recaida…
      %br
      De mi… prepotente soberbia.

    %p.estribo
      Pensando me vuelvo a enga&ntilde;ar
      %br
      Sintiendo me consigo rescatar
      %br
      Reptando la vuelvo a encontrar
      %br
      Aceptando no regresa m&aacute;s

    %p
      Derribando lo que cuesta olvidar,
      %br
      solo pienso en terminar.
      %br
      Consumiendo lo que no acabar&aacute;,
      %br
      no recuerdo que ser&aacute;…

    %p
      De mi… certera caida.
      %br
      De mi… prepotente soberbia.

    %p.estribo
      Pensando me vuelvo a enga&ntilde;ar
      %br
      Sintiendo me consigo rescatar
      %br
      Reptando la vuelvo a encontrar
      %br
      Aceptando no regresa m&aacute;s
    
  #estoy-no-estoy.letra
    %h2 Estoy-no estoy

    %p 
      Quiz&aacute;s,
      %br
      quieras comenzar de nuevo
      %br
      e intentarlo una vez m&aacute;s

    %p 
      Lo se,
      %br
      ya no es como en el principio,
      %br
      que intentabamos llegar
      
    %p.estribo
      Estoy, no estoy

    %p 
      Ten&eacute;s,
      %br
      que creer en todo eso
      %br
      en castillos de cristal
    %p 
      No v&eacute;s,
      %br
      que hay deseos que te esperan,
      %br
      aunque sientas que se van

    %p.estribo
      Estoy, no estoy
    