--- 
layout: post
title: Ableton save my life!
---
%p Hace tiempo que grabo m&uacute;sica con la computadora. Unos 8 a&oacute;os. 

%p Cuando arranqu&eacute; lo hice con Windows, usando Vegas (que en su momento era de Sonic Foundry, pero que ahora es de Sony). Luego, justo antes de pasar a MAC, utilic&eacute; el #{link_to("FL Studio", "http://www.flstudio.com/")} (que se llamaba Fruity Loops hace mucho tiempo ya). 

%p En el medio prob&eacute; cada programita que me ven&iacute;a a la mano, sea el CoolEdit, Cubase, SAWPlus, pero ninguno me parecec&iacute;a lo suficientemente pr&aacute;ctico, simple y poderoso a la vez. 

%p Llegado el a&oacute;o 2007, mi compa&oacute;ero de ruta de ese entonces, Pedro, me quem&oacute; la cabeza con que me compre  una Mac. Pasaron los meses y me decid&iacute;. Hice n&uacute;meros, m&aacute;gicos n&uacute;meros, y me compr&eacute; mi MacBook blanca. Y con la llegada de ella se fue el FL Studio, ya que no ten&iacute;a soporte para OSX. 

%p Soluci&oacute;n? Volv&iacute; a un soft que hab&iacute;a probado antes, el "Ableton Live":http://www.ableton.com. No se si alguna vez tom&eacute; una decisi&oacute;n tan acertada como esa. Cumple con todos los requisitos antes mencionados, m&aacute;s algunos que ni hab&iacute;a pensado. Se ajusta como un guante a la interface de OS X, y es absolutamente intuitiva la forma de usarlo.

%h2 Pros
%ul
  %li Multitrack ilimitado (obvio!)
  %li Soporte para plugins (VST y AU)
  %li Punch in y punch out que se pasa en facilidad de uso. 
  %li Signature Change: Cambio de tiempo en el medio de una canci&oacute;n.
  %li Dos formas de visualizaci&oacute;n: Session y Arrangement. cada una se orienta a un momento diferente en el proceso de producci&oacute;n. 
  %li Sistema de ruteo de se&oacute;ales flexible: Luego de leer el cap&iacute;tulo del manual, entend&iacute; como funcionaba. Una masa. 
  %li F&aacute;cil de usar.
  %li Automation
  %li Mac y Windows, para que lo pueda usar yo, y a la vez Ezequiel tambi&eacute;n (No man is an island).
  %li Y una pila de cosas m&aacute;s.

%h2 Contras 
%ul
  %li Exportar a MP3 directamente. 
  %li Un mejor editor de clips, ya que el que trae no es un Sound Forge. 
  %li Administraci&oacute;n de vistas m&aacute;s flexible. Quiz&aacute;s me gustar&iacute;a poder tener m&aacute;s de dos. 


%p Y si a esto le sum&aacute;s el EZDrummer, tu vida como m&uacute;sico hogare&ntilde;o se ve solucionada. El EZDrummer es un VSTi que simula una bater&iacute;a. La gente de Toontrack grab&oacute; cada bater&iacute;a en un estudio, de una manera muy meticulosa, y logr&oacute; que suene muuuuy real. No es un baterista, pero para ser una m&aacute;quina est&aacute;s m&aacute;s que bien. 

h2. Conclusi&oacute;n

FInalizando, les sugiero probarlo. Es un camino de ida. 
