--- 
layout: post
title: Un paso m&aacute;s...
tags: 
- music
- jac
---
%p No es f&aacute;cil. Pasan los d&iacute;as y vamos tirando nuevos tracks del EP, pero a la vez surgen nuevas cuestiones que no hab&iacute;amos contemplado inicialmente en este proceso de grabaci&oacute;n. Sabemos que va a costar (est&aacute; costando) pero que el esfuerzo va a valer la pena. Con un poco de onda, persistencia y apoyo de nuestras amadas compa&oacute;eras, vamos a lograr el inmenso objetivo de terminar el EP de Justo Al Caer. 

%p Hacia ah&iacute; nos deslizamos. Fin de octubre? Puede ser... puede ser...
