--- 
layout: post
title: La zona
---
%p Laburo en capital federal desde hace bastante a&oacute;os, y siempre lo hice de Rivadavia para Retiro. Cada vez que bajaba del subte D me daba la impresi&oacute;n de que para el otro lado (l&eacute;ase: De Rivadavia para Av. Belgrano o Independencia) (Mmmh, lindo nombre de calle) no estaba tan bueno, como que era una zona m&aacute;s triste, si de alguna forma se puede usar ese adjetivo en ese contexto. 

%p La cuesti&oacute;n es que el tiempo pasa y ahora estoy trabajando en Per&uacute; y Belgrano, justo en la zona "triste", pero mi percepci&oacute;n cambi&oacute; totalmente. Hoy siento que por ac&aacute; todavia hay tranquilidad, hay gente que frena, respira. Estas esquinas no est&aacute;n aun tan invadidas de ruido como pueden ser las de San Mart&iacute;n y Per&oacute;n. Recuerdo como me pon&iacute;a al entrar al banco. Hace bastante que eso no me pasa. 

%p Quiz&aacute;s sea simplemente que este trabajo, esta zona, y mi nuevo hogar coinciden con mis casi 32. 

%p En un par de meses seguro que me meto con el tango a full. 
