--- 
layout: post
title: Vox
---
%p Estabamos por la mitad de las guitarras, pero la viola empez&oacute; a sonar mal. Trasteaba, as&iacute; que Ezequiel decidi&oacute; (enhorabuena) llevarla a calibrar. La semana que viene seguiremos. 

%p Hoy comenzamos a grabar las voces. Veremos que desaf&iacute;o nos depara esta nueva etapa. Me toca volver al banquillo. Me parece que va a ser una noche con mucho t&eacute;, para relajar antes de arrancar. Voy a tratar de recordar cada cosita que he escuchado durante estos a&oacute;os respecto a la voz. 

%p Con este mini paso estamos cada vez m&aacute;s cerca de llegar a terminar nuestro mini everest. Es loco, pero creo que esta vez va a salir bien. Estamos con la cabeza enfocada. Sabemos qui&eacute;nes somos, qu&eacute; queremos, qu&eacute; podemos y c&oacute;mo lograrlo (al menos en teor&iacute;a :) )

%p Who knows? It might happen...
