--- 
layout: post
title: Montt
tags: 
- blogs
---
%p Hac&iacute;a mucho que no me interesaba por un blog que no sea de desarrollo, y hace unos meses, no s&eacute; por qu&eacute; medio, conoc&iacute; el blog de Montt. Montt es un humorista chileno, muy agudo, que publica en su blog, "Alberto Montt en dosis diarias":http://www.dosisdiarias.com/ un comic superior. 

%p Pues que lo recomiendo!

%p Si pueden, y tienen ganas, miren este que les dejo abajo: 

= link_to("Link", "http://www.dosisdiarias.com/2008/09/2008-09-09.html")
