--- 
layout: post
title: Nuevo Hogar / Nuevo Blog
---
%p Me mud&eacute;. Cambi&eacute; de barrio, y decid&iacute; comenzar de nuevo en muchos aspectos. 
Arranquemos por lo m&aacute;s simple. Cambiemos de blog. 

%p De a poco ir&eacute; poniendo algunos art&iacute;culos nuevos, y reviviendo algunos viejos. 


%p Hoy? Foja cero. 
