--- 
layout: post
title: Cuesta arriba
---
%p Hace unos meses que con Eze estamos grabando el EP de Justo Al Caer. No viene siendo particularmente f&aacute;cil. Cuesta. Hay que transpirar. Lidiar con cada uno de los problemas que se presentan al no "tenerla atada". Mierda, hay que salir a correr el conocimiento para ver "como" se debe hacer... y la verdad es que en la mayor&iacute;a de los casos no me quedo tranquilo con el resultado. Siento que reci&eacute;n al final voy a saber en donde le err&eacute;... la incertidumbre me est&aacute; taladrando la cabeza. 

%p &iquest;C&oacute;mo hacer para no rendirme cuando no veo un resultado constante? Es confiar en el deseo que impuls&oacute; originalmente el emprendimiento, creo, aunque se haga cuesta arriba. 

%p Las fechas se estiran... que se le va a hacer, somos el&aacute;sticos... we adapt ourselves (o como antes, ourselfs).
