--- 
layout: post
title: Mephisto, avis&aacute;!
tags: 
- rails
- mephisto
---
%p Estuve luchando un buen rato con esto. Instal&eacute; Mephisto, configur&eacute; la base de datos, mod_rails, y luego habilit&eacute; Multi Site. Hasta ah&iacute;, todo perfecto. 

%p Agregu&eacute; el segundo sitio, que era www.algunsitio.com, pero no me lo detectaba. Iba de una al primero. Cuando cre&eacute; el sitio lo hice desde el backend (/admin) y desde la consola (Site.create :host => "www.algunsitio.com"....) pero nada lo solucionaba. Siempre terminaba yendo al sitio default, que es el primero. 

%p Soluci&oacute;n? No declarar el sitio con el www, porque Mephisto se lo remueve si comienza con esas m&aacute;gicas 3 letras. 

%p 
  O sea... no usar como host (cuando se lo crea) 
  %strong www.algunsitio.com
  , sino 
  %strong algunsitio.com
  \. Mephisto solito le agrega el www. 

%p 
  %em Ay, dios... costaba tanto poner una validaci&oacute;n para eso?
