--- 
layout: post
title: Just because...
---
%img{:src => "/images/Photo_35.jpg"}

%ul 
  %li Take a picture of yourself right now.
  %li Don&iacute;t change your clothes, don&iacute;t fix your hair. Just take a picture. (should be super-easy with Photobooth). 
  %li Post that picture with NO editing.
  %li Post these instructions with your picture.
