--- 
layout: post
title: Deber&iacute;an darte algo m&aacute;s que un acceso VIP
---
%p Me indigna el negocio que est&aacute;n haciendo con las entradas. 

%p Primero te sacan unas localidades que cada vez son m&aacute;s caras. Ya para Police estaba caro, cuatrocientos y pico, y de golpe se destapan con 630 mangos para Madonna. Se ponen a la venta, la "gente" va como loca a comprar, pero se agotan. Oops, de golpe... 

%p &iquest;C&oacute;mo es que se agotan 60000 entradas de un saque? Esa no me la creo. A la par se encuentran ofertas de entradas en #{link_to("Mercado Libre", "http://articulo.mercadolibre.com.ar/MLA-40865565-buscas-lo-mejor-de-madonna-clickea-aca-campos-vip-612-_JM")} desde 1500 hasta 3000 pesos (ojo, con traslados :S) (ah, entonces si... por un momento pens&eacute; que me estaban cagando) 

%p 
  A ver si me explico. 
  %strong Ac&aacute; hay tongo. 

%p Primero te ponen unas entradas de 630 mangos y el primer comentario es: Es una locura!! Yo esa guita no la pago!, pero luego uno se entera de la reventa, del service charge y todo cambia. ya no es tanto afano. Uno lo empieza a considerar. Ya podemos pagar 630 pesos por un recital en River Plate. Inclusive nos desesparemos y somos capaces de hacer la cola en el estadio. Todo sea por no quedarnos fuera de tama&oacute;o evento, el evento del a&oacute;o! No se dan cuenta del manejo que es esto? Que le cuesta a la empresa organizadora del evento armar todo el circo medi&aacute;tico? Nada... 2 monedas. I don't buy it. Armando el quilombo todos se desesperan y terminan yendo a comprar las glorificadas entradas. 

%p Entiendo el fanatismo de muchos. Yo lo siento por muchas bandas tambi&eacute;n, pero esto es peor que Soda el a&oacute;o pasado. Cada vez m&aacute;s caras, cada vez m&aacute;s inaccesibles. Estoy cansado de escuchar lo "terrible" que es como nos cagan, y as&iacute; y todo seguir bancando la situaci&oacute;n. 

%p Seguro que el a&oacute;o que viene traen a Phil Collins, con su &uacute;ltima gira (que se yo) y cobran el Campo VIP 1000, y el campo subVip 600, y el campo trasero 300. Divine. 

%p Y esto no es la inflaci&oacute;n... tiene otro nombre. 
