--- 
layout: post
title: Git on Mac
---
%p Git es el e nuevo source control. En la rubyosfera casi todos lo est&aacute;n usando. Es simple, poderoso, distribuido y un mont&oacute;n de atributos m&aacute;s, pero su uso sigue estando limitado a consola, o a su interfase gr&aacute;fica basada en Tcl/Tk. 

%p En fin, para los usuarios de Mac solamente, se puede instalar GitX, que es un la versi&oacute;n nativa para mac del Gitk. 

%p= link_to "http://github.com/pieter/gitx/wikis", "http://github.com/pieter/gitx/wikis"

%p Incluye las siguientes caracter&iacute;sticas:

%ul
  %li Navegaci&oacute;n del historial del repositorio
  %li Visualizaci&oacute;n de la las diferencias de una manera "amigable"
  %li B&uacute;squedas basadas en autor, o en t&iacute;tulo de la revisi&oacute;n.
  %li Se puede acceder al &aacute;rbol completo de la revisi&oacute;n
  %li Previsualizaci&oacute;n de cualquier archivo en modo texto o con QuickView. 
  %li Drag and drop de archivos al file system para poder accederlos f&aacute;cilmente.

%p Muy pr&aacute;ctico, aunque aun no evita la consola al 100%. Por suerte est&aacute; en pa&oacute;ales, as&iacute; que ir&aacute; mejorando continuamente. 
%p Ah, y es GPL. 
