--- 
layout: post
title: La zanahoria
---
%p Estaba en el bar, tom&aacute;ndome un caf&eacute; mientras esperaba que venga alguien al laburo y me abra la puerta. Mientras le&iacute;a una huevada, vi pasar por mi costado a un se&oacute;or grande (por no decir un viejo) que se dirig&iacute;a hacia el ba&ntilde;o. 

%p Pens&eacute;: "Qu&eacute; jodido debe ser llegar a esa edad y andar evitando preguntarse por que es que uno hace lo que hace."

%p 
  &iquest;Cu&aacute;l ser&aacute; la zanahoria que te motiva en ese momento? Y ah&iacute; ca&iacute;. 
  %em Ah&iacute; me di cuenta.

%p La zanahoria siempre se inventa. 
%p La zanahoria la creamos para poder bancarnos que en realidad no hay un sentido divino de la existencia. 
%p La zanahoria es virtual. 
%p La zanahoria algunas veces es de uno, y otras es ajena. 
%p La zanahoria est&aacute; para evitar preguntarse hacia donde vamos. 

%strong God bless the zanahoria. O mejor tomamos la p&iacute;ldora roja?
