--- 
layout: post
title: Manzanas
tags:
- apple
- mac
---
%p Hace casi un a&ntilde;o que uso Mac.

%p Antes usaba Windows en el marco laboral y Linux en mi casa, o para trabajos freelance. Siempre defend&iacute; al ping&uuml;ino, y lo sigo haciendo. Como comunidad es imbatible, y como medio de aprendizaje es excepcional. La cuesti&oacute;n es que hace tiempo, casi en paralalelo, estuve probando el Mac OS X (el sistema operativo de Mac, basado en BSD) en mi DELL (Muy buena m&aacute;quina tambi&eacute;n). Ah&iacute; mismo me enamor&eacute;. Logr&eacute; hacer funcionar el OS (en ese entonces era Tiger) en un harware que no era marca Apple. Fue un 85% de &eacute;xito Funcionaba todo excepto el la placa Wireless y la de sonido. Las dos cuestiones m&aacute;s b&aacute;sicas para un m&uacute;sico y programador, as&iacute; que no pudo ser ah&iacute;.

%p La cuesti&oacute;n es que luego de 6 meses pude adquirir a Cinderella (si, nerd al mango, y que?). Y qu&eacute; cambio. M&aacute;s all&aacute; de algunas cosas que est&aacute;n ligadas a que la llevo d eun lado para el otro constantemente, creo que result&oacute; una de mis mejores compras. Nunca me sent&iacute; tan a  gusto con una laptop, desde lo productivo a lo est&eacute;tico. La cantidad de problemas a la hora de producir se vio disminuida considerablemente. 

%p Es la primera vez que no me meto a fondo con un OS para saber todo lo que pasa por detr&aacute;s. No hizo falta. Por supuesto, algo s&eacute; por haber laburado en Sistemas toda mi vida, pero no hizo falta mirar debajo del capot. Eso es un plus por donde lo mire. 

%p En fin, simplemente me gust&oacute; recordar lo acertada que fue la decisi&oacute;n hace ya un a&oacute;o. 
Se la recomiendo a cualquiera. Antes era solo para dise&oacute;adores, o madres/abuelas. Ahora realmente tiene el poder suficiente para cualquier tarea. 

%h2 &iquest;Qu&eacute; hago? 

%ul
  %li Programo, bastante, en Ruby y en otros lenguajes. Unas 10 horas por d&iacute;a. 
  %li Grabo m&uacute;sica. Uso el Ableton Live unas 3 veces por semana como m&iacute;nimo con un mont&oacute;n de plugins. 
  %li Veo pel&iacute;culas, escucho m&uacute;sica, blah, blah, blah. 
  %li Escribo huevadas como &eacute;stas. 

%p As&iacute; y todo, nunca la tengo que reiniciar de manera obligada. Anda. No para. 

%p Bien, Apple. 
