--- 
layout: post
title: Voy a tocar el fondo de lo que soy
---
%p Mi compa&oacute;ero de laburo, Canito, me molesta hace tiempo con que escuche algunos discos que tiene que son del palo del folklore. Por supuesto, m&aacute;s all&aacute; de Aznar, nada de eso (Cart&oacute;n, piedra pomes? Nones). 

%p Hoy estaba solo por la ma&oacute;ana y "se me dio por escuchar" el album "El matecito de las Siete" de Luna Monti y Juan Quintero. La pucha, que lindo... Nada que ver con la basura que se suele escuchar. Se siente folklore personal, intimo, melanc&oacute;lico, casi podr&iacute;a decirse tanguero. 

%p Al final le tengo que dar la raz&oacute;n a mi viejo... hay una edad para el tango y el folklore. Arriba de los 30 algo pasa. Un no se qu&eacute;... 

%p Recomiendo los siguientes temas del mencionado disco:

%ul
  %li La que se queda
  %li El Matecito de las Siete
  %li Equipaje
  %li A pique (_Voy a tocar el fondo de lo que soy..._)

%p Les dejo un rapid #{link_to("link", "http://rapidshare.com/files/145736055/LunaYJuan.zip.html")} para que se lo puedan bajar. 
