--- 
layout: post
title: Un poco nada m&aacute;s
tags: 
- music
- jac
---
%p Ayer, a la vuelta de LXR me puse a retocar los temas del EP. Ya falta cada vez un poco menos. Se podr&iacute;a decir que ya est&aacute; todo listo a nivel mezcla. Solo falta que terminemos con el arte. Claramente a principio de abril ya no llegamos, pero quiz&aacute;s en unas semanas podamos arribar a buen puerto. 

%p La lista definitiva de temas, con su orden ya establecido es la siguiente:

%ul
  %li Navegar
  %li Tun-Tun-Tun
  %li Volando en descubierto
  %li Estoy / No estoy
  %li Sin amor
  %li Cicatrizar
  %li Navegar (Garage version)
  
Poco, muy poco... 
