--- 
layout: post
title: Finalmente, Justo al Caer tiene website
tags: 
- music
- jac
---
%p Luego de mucho laburo, muchos idas y vueltas, logramos hacer un sitio para mi querido proyecto musical, #{link_to("Justo al Caer", "http://www.justoalcaer.com.ar/")}.

%p All&iacute; podr&aacute;n conocer un poco de lo que hago cuando no soy programador Ruby, podr&aacute;n ver fotos, leer sobre nuestros origenes y lo m&aacute;s importante, escuchar un poco de lo que hacemos. 

%p Debo confezar que es un placer terminar una etapa, aunque me d&eacute; v&eacute;rtigo iniciar una nueva. A tocar se ha dicho... 

%p As&iacute; que: #{link_to("Justo al Caer Website", "http://www.justoalcaer.com.ar/")}.
