--- 
layout: post
title: LocosXRails Post Resolutions
tags: 
- desarrollo
- ruby
- rails
---
%p Justo dos d&iacute;as antes de la conferencia LocosXRails (LXR) me hab&iacute;a puesto a ver algunos videos de la &uacute;ltima RubyConf, entre los que que se inclu&iacute;a el ya cl&aacute;sico TATFT, de #{link_to("Brian Liles", "http://smartic.us/")}. Bastante motivante para ser sincero (Ring 1)

%p La primera charla del evento LXR fue la de Obie Fernandez, y se trat&oacute; del Hashrocket Way. Fue bastante intersante aunque creo que un poco irreal para lo que es Argentina. De cualquier manera siempre aporta tener esos objetivos surrealistas de ejemplo. No todo lo propuesto me pareci&oacute; genial, ya hay algunas caracter&iacute;sticas muy corporate que me dan un poco de nauseas, pero en lo que respecta a las best practices propuestas me pareci&oacute; muy copado. Por supuesto, habl&oacute; de TATFT, y te escuch&eacute;, Obie... (ring 2)

%p Al final del d&iacute;a uno, #{link_to("Luis Lavena", "http://blog.mmediasys.com/")} (un amigo de todos nosotros) se puso a laburar con unos specs y tuve el placer de ver la disciplina de este chab&oacute;n. Ufff. Uffff. Mierda, no baja los brazos. No me acuerdo que era lo que estaba especificando (asumo que algo referido al Ruby Installer de Windows) pero el flaco no abandonaba la pr&aacute;ctica en ning&uacute;n momento. Inclusive los probaba contra Ruby 1.8.6 y 1.9.1. Ver tipos as&iacute; a veces es como una pi&oacute;a de certeza (ring 3)

%p Al otro d&iacute;a, presenci&eacute; la charla de #{link_to("Emilio Tagua", "http://github.com/miloops")}, sobre debugging de aplicaciones rails (muy buena). Al final no se quien agreg&oacute; algo como DATFT (Debugging all the fucking time) refiri&eacute;ndose a que todo lo que hab&iacute;a explicado Emlio no era para guardar para una emergencia, sino que hab&iacute;a que usarlo, practicarlo e incorporarlo, porque no iba a ser f&aacute;cil usar ese toolkit cuando quemaran las papas (ring 4).

%p El valor del test (first) es evidente. No hace falta urgar demasiado en su definici&oacute;n para ver sus beneficios, pero requiere disciplina. Mucha.

%p La cuesti&oacute;n es que ese tema me hace ruido desde hace muchos meses. Todo el tiempo, en cada proyecto, siento que arranco bien, escribiendo specs como corresponde, incluyendo algunos user stories del pepino. Pero que de alguna forma, luego de un tiempo, la cosa se descarrila un poco y pierdo la disciplina: *Comienzo a escribir sin tests.* Si, lo dije, y sin pudor.

%p Algo empuja, que hace que pierda esa batalla. En parte creo que tiene que ver con que el cliente no tiene ni idea del valor del testing y presiona para sacar el feature ya, o simplemente "se trata de un toque muy simple y no vale la pena escribir unos tests para eso", o lisa y llanamente no llego con los tiempos y tengo que correr para llegar a tiempo (problemas de estimaci&oacute;n). 

%p No se muy bien cu&aacute;l es la cuesti&oacute;n. Si alguien sabe... please, comenten! Imagino que no soy el &uacute;nico con estos fucking problemas.

%p Asi que mi resoluci&oacute;n post LXR es disciplinarme lo suficiente respecto a mis t&eacute;cnicas de BDD. M&aacute;s all&aacute; de los posts habituales de un blog personal, estar&eacute; bloggeando acerca de lo que vaya aprendiendo durante la marcha. En principio, back to basics. A leer, estudiar y desde hoy, no escribir sin specs. 

%strong M&aacute;s vale test en mano que ruby volando.
