--- 
layout: post
title: Feliz Mix Day (2)
tags: music, jac
---
%p Me pas&oacute; a buscar un poco antes de la hora acordada. Ezequiel siempre llega tarde, excepto cuando le toca madrugar. Hoy fue uno de los &uacute;ltimos. Baj&eacute; con todos los b&aacute;rtulos y en menos de una hora ya nos encontrabamos en Mart&iacute;nez, listos para continuar. 

%p Arrancamos con los retoques de los tres primeros temas, respondiendo a lo que nuestros oidos nos marcaban. Estuvimos una hora como mucho, subiendo un toqye la voz por ah&iacute;, o sac&aacute;ndole graves al bombo de Volando, porque saturaba mal en ciertos lugares. Es una quilombo dar con la mezcla justa que se escuche bien tanto en un super equipo con en un parlante de laptop, pero creo que la pegamos bastante bien. 

%p De los 4 temas que ten&iacute;amos, ninguno era un claro candidato para ser el primero del d&iacute;a, as&iacute; que simplemente comenzamos con *Estoy/No Estoy*. Qu&eacute; elecci&oacute;n. Nos volvimos locos, hab&iacute;a casi 30 track para mezclar, al menos 8 tracks de violas... una locura. S&oacute;lo luego de 2 horas pudimos darle forma, aunque debo decir que el proceso de re-vestir al tema es fant&aacute;stico y no deja de maravillarme lo mucho que mejora la canci&oacute;n luego de ser laburada. Temas que uno que cree que "est&aacute;n bien", mejoran un 100% luego de limpiar, comprimir, ecualizar y agregar reverb en cada track (seg&uacute;n correposponda, seg&uacute;n tu ido te lo indique). Vale destacar que mezclar no es solo eso, y no se pueden aplicar m&eacute;todos matem&aacute;ticos. Siempre hay que recurrir a la oreja. A veces no suena, y la formulita no aplica. Hay que salir a escuchar qu&eacute; es lo que no suena... A veces simplemente resta escuchar. 

%p Luego de Estoy, sigui&oacute; *Sin Amor*, *Tun Tun Tun* y *Navegar (Garage Version)*. 

%p Con el pasar de las horas, ya hab&iacute;amos liquidado 8 empanadas, varias botellas de l&iacute;quido, algunos comestibles grasulientos, y nos dispon&iacute;amos para terminar con el &uacute;ltimo tema. Cansancio sobraba, las ojeras creac&iacute;an y se hund&iacute;an cada vez m&aacute;s en nuestros rostros, pero as&iacute; y todo podemos decir que: 

%p Completamos el ciclo propuesto en septiembre del a&oacute;o pasado. Lo logramos. Luego de 12 horas de trabajo continuo, puedo decir que el proceso de mezcla del primer EP de Justo Al Caer ha finalizado. S&oacute;lo nos quedan 4 o 5 retoques por realizar entre los 7 temas y podremos decir que en muy poco tiempo se podr&aacute;n escuchar online. 

%p Feliz. As&iacute; estoy. Casi sin creerlo. 
