--- 
layout: post
title: Justo Al Caer - Actualizaci&oacute;n
tags: 
- music
- jac
---
%p Han pasado varios meses desde la &uacute;ltima vez en que habl&eacute; del tema. En diciembre nos presentamos en el techo de la casa de Miki, y fue un show corto que nos sirvi&oacute; para mucho. Pudimos ver realmente cuales eran las cosas que debiamos arreglar, cuales estaban bien, y qu&eacute; era definitivamente mejorable. 

%p Durante el show nos sac&oacute; fotos Mariano Ocampo, y pueden ser vistas probablemente desde #{link_to("aqu&iacute;", "http://www.facebook.com/home.php?#/photo_search.php?oid=57239430529&view=all")} Si no se ven, porque facebook no te deja, seguro que las subo cuando tenga la p&aacute;gina lista. Quiz&aacute;s en abril. 

%p En enero nos dedicamos a terminar el EP, que inicialmente hab&iacute;a sido pensado de 5 temas y aque ahora es de 7. Le agregamos muchas l&iacute;neas de voz y de guitarra a la mayor&iacute;a de los temas, corregimos infinidad de detalles y laburamos much&iacute;simo en que sea file a nosotros. Solo resta mezclarlo y subirlo. 

%p Ser&aacute; regalado en formato mp3, y seguramente cobremos un poco por la versi&oacute;n material. Marcos Garc&iacute;a se va a encargar de la tapa (como ya se ha encargado de tantas otras cosas). 

%p O sea, a ver si se entiende: Si todo sale bien, a fines de marzo tenemos el disco. Esa es la noticia. 

%p Ojal&aacute; que lo puedan disfrutar tanto como nosotros. 
