---
title:  Balance 2009 + Tu regalo de JaC por el fin de año! 
layout: post
---
%p Durante los &uacute;ltimos meses del 2009, presentamos en vivo nuestro primer EP compuesto por 6 canciones (+ Navegar en versi&oacute;n rockera). Estas fueron concebidas, grabadas, arregladas y producidas por JAC con mucho esfuerzo, entre 2008 y 2009.

%p En este proceso colaboraron tambi&eacute;n Tam Goldsztajn (en la mayor&iacute;a de los coros) y Marcos Garc&iacute;a, quien dise&ntilde;&oacute; un surrealista arte de tapa.

%p Para cerrar un 2009 de mucho trabajo, queremos hacerles un peque&ntilde;o regalito... :)

%p Si m&aacute;s pre&aacute;mbulos, te regalamos el EP en formato digital!. Bajalo haciendo click en el siguiente link:

%p= link_to('http://www.justoalcaer.com.ar/ep.html', 'http://www.justoalcaer.com.ar/ep.html')

%p Lo escuchaste? Qu&eacute; te pareci&oacute;? Dejanos tus comentarios!

%p Gracias por acompa&ntilde;arnos. Los esperamos en el 2010!

%p Justo al Caer