--- 
layout: post
title: Lisandro en Niceto
tags: music
---
%p El viernes 27 de febrero de 2009 se present&oacute; Lisandro Aristimu&oacute;o en Niceto Club.

%p Ese viernes se abrieron las puertas a las 21 para que el show comience a las 22. 

%p Debo decir que ese viernes lo pude presenciar desde muy cerca, ya que como un gil, hice la "cola" desde las 19, como si se tratara de no se qu&eacute; rockstar. La gente cay&oacute; realmente a las 20, y se esmeraba en quedarse alrededor mio sin conformar de una maldita vez la puta fila. Vamos, gente, para hoy. 

%p Lisandro y sus azules turquesas dieron un show muy completo de casi dos horas, con un mont&oacute;n de temas y versiones de canciones de sus tres discos. Me gust&oacute; mucho lo que hizo Carli, la onda de Leila Cherro y por sobre todas  las cosas, la labor de todos los dem&aacute;s (Roc&iacute;o y Mart&iacute;n). Por mi ubicaci&oacute;n tal vez no pude apreciar como hubiera querido a la segunda l&iacute;nea (conformada por los reci&eacute;n mencionados). 

%p El tema nuevo me gust&oacute;, pinta bien. Espero con ansias el pr&oacute;ximo disco. Ojal&aacute; sea tan bueno como 39. 

%p Me gusta lo que hacen, musicalmente y escenicamente, pero a veces, la onda de rockstar que pinta Lisandro me embola. S&eacute; que vende, pero agota. El bailecito, la carita, la sonrisita. 

%p &iquest;Qu&eacute; me embola m&aacute;s? La presencia de Palo Pandolfo (de los Visitantes y Don Cornelio y la Zona) en Me hice cargo de tu luz. Ya es la segunda vez que lo veo (antes lo invit&oacute; en el NDAteneo). El flaco se empecina en cantarlo con su estilo pedorro, conuna voz inexistente, arruinando lo hermosamente grabado en el disco. Lisandro, no lo invites m&aacute;s. Dale una tajada a Kevin y traelo, pero no nos des premios consuelo como esos. Opacan. 

%p En fin, lindo show, aunque la pr&oacute;xima vez lo veo de atr&aacute;s, donde no haya mil pendejas del orto gritando huevadas. 
