--- 
layout: post
title: Mix Day 1 - Parte 2
tags: 
- music 
- jac
---
%p Continuo desde #{link_to("ac&aacute;", "http://www.lucasefe.com.ar/2009/3/16/mix-day-1")}

%p La cuesti&oacute;n es que repetimos el mismo proceso de desnudar a la canci&oacute;n para vestirla de a poquito s&oacute;lo con las prendas que nos parecia apropiado para la ocasi&oacute;n. Una especie de Striptease inverso (?). 

%p Al final del d&iacute;a, luego de unas 9 horas, dimos por finalizada la sesi&oacute;n inicial. En la galera ya ten&iacute;amos 3 canciones: Cicatrizar, Volando en descubierto y Navegar Acoustic. Pensar que yo cre&iacute;a que en un d&iacute;a hac&iacute;amos todo. Ni ah&iacute;. 

%p Con la experiencia ganada calculamos que para el d&iacute;a 24 de marzo tendremos el EP listo para ser publicado, y quien dice, tal vez podamos cumplir con el objetivo de tenerlo online a fin de marzo. As&iacute; que a esperar, que la espera garpa (a veces) (aunque esta vez sin duda lo har&aacute;) (mir&aacute; que te ten&eacute;s confianza, gur&iacute;...). 

%p Falta poco, ese es el comentario final. Pero poco en serio. 

%p Gracias a los que leen esto conmigo y pueden compartir un poco de este entusiasmo casi a&ntilde;ejo en mi. 
