--- 
layout: post
title: Mix Day 2 - Parte 1
tags: 
- music
- jac
---
%p Hoy vamos por m&aacute;s. Luego de una semana de mezclar los tres primeros, nos vamos a dedicar a ver si terminamos el resto. 
%p All&iacute; nos dirigimos, con todas las pilas puestas y enfocadas en lograrlo. 
%p Por la tarde les cuento c&oacute;mo nos fue. 

%p Suerte no pido. Creo que con el simple hecho de poder hacer esto, est&aacute; claro que somos muy afortunados. 
