--- 
layout: post
title: Bandas en el Bord&oacute;
tags: music
---
%p El viernes pasado fui a ver dos muy buenas bandas que no dudo en recomendar...

%ul
  %li Ubika (http://myspace.com/ub1ka) 
  %li Decime Si Se Puede (http://www.myspace.com/decimesisepuede)
