--- 
layout: post
title: Faith No More en el Pepsi 2009
tags:
- music
---
%p 
  %strong Disclaimer: 
  Este review es una mentira total. Carente de objetividad, y empapada de fanatismo en todo su esplendor luego de un show que pag&oacute; cada mango de la entrada.

%p Lo vi de cerca, aunque no tanto. No era el VIP (gran dormida la m&iacute;a), pero estaba muy bien parado. 

%p La lista de temas me pareci&oacute; impecable. Hubieron hits y no tanto. Recorrieron 5 discos, y no dejaron t&iacute;teres sin cabezas. Abrieron con un tema no conocido por mi que asumo se llamaba United, haciendo alusi&oacute;n a su juntada actual y luego tocaron From Out Of Nowhere. De ah&iacute; en m&aacute;s solo hubo magia. Easy, Epic, Stripsearch, Last Cup Of Sorrow, Ashes to Ashes, Land of sunshine, Caffeine, MIdlife Crisis, A small victory, I started a joke, Evidence, King for a day (si, groso es poco), Surprise! You're Dead!, We care a lot y alguno m&aacute;s que seguro se me olvida. El orden plasmado aqu&iacute; no representa el del show, pero es lo que me acuerdo luego de no se cuantos pogos inolvidables. 

%p El bis fue con Collision y Digging the grave (no me acuerdo posta posta, pero me la juego).

%p Confieso que luego del bis ya no pod&iacute;a m&aacute;s. Salt&eacute; y grit&eacute; en demas&iacute;a durante el inicio y luego, cuando ellos se fueron a tomar un descanso, yo ya estaba en low-battery. Por suerte pude encontrar un lugar con onda, con gente que le puso la mejor. No vi afanos esta vez, lo cual no se de qui&eacute;n habla bien, pero fue copado no tener que estar pensando en el manoteo. 

%p En definiiva: Mucho rock, muchos huevos. Un Patton que no decepcion&oacute; nunca (excepto cuando sali&oacute; con la remera de Argentina, no era necesario). El registro, y su incapacidad de hacerse mierda la voz,  no dejaron de asombrarme. Ten&iacute;a una maquinita de efectos al lado, pero pude detectar cu&aacute;ndo la usaba. 
%p La banda son&oacute; como ten&iacute;a que sonar: Compacta, contundente... una banda de viejos profesionales. Sorprendentes las canas de Bordin. 

%p Lo que s&iacute; no entiendo es quien arma las fechas para estos eventos: Die Toten Hosen luego de FNM? A qui&eacute;n se le ocurre? La mitad del estadio se fue al finalizar la presentaci&oacute;n de este &uacute;ltimo. S&eacute; que los alemanes le ponen onda y huevos, pero luego de un show debastador como el de los pibes, poco quedaba para jugar con Campino & Co. 

%p Este show queda en el segundo lugar, peleando con Radiohead en mi lista de shows inolvidables. Primero, obvio, PJ. 

%p Ustedes me dir&aacute;n del show de Chris Cornell... pero me chupa un huevo. Lo de ayer fue memorable. 

%p 
  %strong Actualizaci&oacute;n: 
  Esta es la lista completa de temas.

%ul
  %li Reunited (Peaches & Herb)
  %li From Out of Nowhere
  %li Land of Sunshine
  %li Caffeine
  %li Evidence
  %li Surprise! You're Dead!
  %li Last Cup of Sorrow
  %li Ricochet
  %li Easy (The Commodores)
  %li Epic
  %li Midlife Crisis
  %li I Started a Joke (Bee Gees)
  %li The Gentle Art of Making Enemies
  %li King for a Day
  %li A Small Victory
  %li Ashes to Ashes
  %li We Care a Lot

Bis:

%ul
  %li The Popcorn Song / Scarface Theme / Collision
  %li Digging the Grave

