--- 
layout: post
title: Mix Day 1 - Parte 1
tags: 
- music
- jac
---
%p Luego de 4 meses de laburar en la grabaci&oacute;n del EP de Justo Al Caer, nos dedicamos al proceso de mezcla. 

%p No somos tan buenos como quisieramos, pero sabemos lo que queremos. 

%p Con Ezequiel, mi compa&oacute;ero de m&uacute;sica desde hace 10 a&oacute;os, desde mi primer ensayo en sala, desde que sent&iacute; que hab&iacute;a algo para escribir, sabemos hacia donde queremos ir. Hace 4 meses arrancamos un proceso complejo. Decidimos que a pesar de no encontrar baterista para nuestro proyecto, ya era hora de grabar algo, ya era tiempo de bajar esas canciones a "cinta" y seguir adelante. El baterista llegar&iacute;a de alguna forma, luego, cuando fuera apropiado.

%p Con todo eso en la cabeza pasamos un cuatrimestre grabando 7 canciones. Aprendimos much&iacute;simas cosas que no sab&iacute;amos. Afinamos nuestro oido como nunca. En determinados momentos se nos ofreci&oacute; ayuda de amigos del palo, pero de cabezones que somos, decidimos hacerlo todo solos. De esta forma es que finalizamos la grabaci&oacute;n y hoy nos abocamos a la siguiente etapa: *la mezcla*.

%p A las 9 de la ma&oacute;ana del s&aacute;bado me pas&oacute; a buscar para cargar las cosas en el auto y nos fuimos para la bendita Ciudad de Mart&iacute;nez. Vos dir&aacute;s, qu&eacute; hay ah&iacute;? El viejo de Eze hace unos bafles de la hostia y nos pareci&oacute; que ese era el lugar correcto para mezclar. Seguro que si algo estaba mal, ah&iacute; lo ibamos a poder escuchar. 

%p Llegamos, armamos todo, prend&iacute; la mac y abr&iacute; el Ableton Live. 

%p - Arracamos con Cicatrizar? 
%p - O Navegar Acoustic
%p - Por?
%p - Por la misma raz&oacute;n... porque si.

%p Gan&oacute; Cicatrizar. C&oacute;mo todo esto iba a ser nuevo, y sab&iacute;amos que se iba a complicar, en los &uacute;ltimos meses nos dedicamos a leer cada uno por su lado acerca de esto. Todos las fuentes dec&iacute;an que hab&iacute;a que bajar el volumen de todos instrumentos, remover efectos y dem&aacute;s, y comenzar con el bombo de la bater&iacute;a. As&iacute; que as&iacute; hicimos. 

%p Mierda. Qu&eacute; feo que sonaba. Pelado, desprendido de todo. Di&oacute; miedo. 

%p Confiando en lo leido laburamos en el sonido del bombo, agregamos un compresor, un poco de EQ y seguimos con los otros componentes de la bater&iacute;a. Luego de un buen rato ya ten&iacute;amos una bata completa. Ufff... menos mal. Sonaba. Evidentemente los pibes que le&iacute;mos sab&iacute;an de lo que hablaban. En alg&uacute;n post futuro recomendar&eacute; algo de lo leido.

%p Como no todo es una bater&iacute;a (ni un baterista) seguimos con el bajo y luego con las violas. Mierda que hab&iacute;a guitarras grabadas. Finalmente, y luchando con todos nuestros vicios de realzar, llegamos a la voces. Agregamos los tres tracks que faltaban y todo qued&oacute; finalizado. El primer tema estaba adentro. Parece una boludez, lo se. El hecho de haber terminado de mezclar la primera canci&oacute;n, y que ella sea Cicatrizar, no era poca cosa. Estabamos a unos 6 pasos (tantos como canciones restaban) de terminar el ansiado album. Tanto lo dese&aacute;s que al fin sucede, no? 

%p Ma&ntilde;ana sigo... 

