--- 
layout: post
title: Link - Autotest + Growl
tags: desarrollo, ruby, rails, testing
---
%ul
  %li Soluci&oacute;n servida en bandeja para #{link_to("Autotest+Growl", "http://leanucci.com.ar/2009/03/autotestautospec-growl.html")} por nuestro compa&oacute;ero de rubylandia Leandro Marcucci.

