--- 
layout: post
title: Woman's day
---
%p Feliz d&iacute;a para todas, pero un poco m&aacute;s para mi preferida. 

%img{:src => "http://www.lucasefe.com.ar/assets/blog.lucasefe.com.ar/2009/3/7/IMG_5148.jpg"}

%p Te amo, China. Every day. 
