--- 
layout: post
title: Justo al Caer en Vicente L&oacute;pez
tags: 
- music
- jac
---
%p Despu&eacute;s de laburar mucho este a&oacute;o, logramos (con mi banda #{link_to("Justo al Caer", "http://www.justoalcaer.com.ar/")}) arrancar con las #{link_to("presentaciones","/2009/11/4/justo-al-caer-en-kronopios.html")} en vivo. Un paso importante para un grupo de enfermos perfeccionistas que no est&aacute;n listos nunca. 

%p Asi que, para ir cerrando el a&oacute;o 2009, nos vamos a presentar en el Paseo de la Costa (Vicente L&oacute;pez) junto a "Dikumda":http://dikumda.com. Lo copado de esto es que es al aire libre, y a la hora en que cae el sol, as&iacute; que si alguno tiene ganas, es solo cuesti&oacute;n de arrimarse con un termo de alguna infusi&oacute;n copada (por si no queda claro, la entrada es gratuita). 

%p Fecha: S&aacute;bado 24 de Diciembre de 2009

%p Lugar: Urquiza y el Rio. Cuando se acerque la fecha un poco m&aacute;s actualizar&eacute; con mayores certezas, 

%p Hora: Aproximadamente a las 17hs. 

%p= link_to ("Justo al Caer", "http://www.justoalcaer.com.ar/")
