--- 
layout: post
title: Ensalada (de Wordle)
---
%p 
  http://www.wordle.net/ te deja crear estas im&aacute;genes a partir de varias fuentes. Pod&eacute;s pasarle las palabras claves que se te ocurran, o indicarle un sitio del cual deber&iacute;a leerlas, o simplemente decirle cual es tu usuario de delicious.com. A partir de ah&iacute;, el sitio solito arma &eacute;stas imagenes. 


%a{:href => "/images/Picture_1.png"}
  %img{:src => "/images/Picture_1.png", :style => "padding:4px;border:1px solid #ddd; width: 500px"}
  
%p Esta sali&oacute; de analizar este sitio. 
