--- 
layout: post
title: Ensalada, deliciousa!
---

%p Mismo site, pero analizando mis tags de deli.cio.us.

%a{:href => "/images/Picture_2.png"}
  %img{:src => "/images/Picture_2.png", :style => "padding:4px;border:1px solid #ddd; width: 500px"} 
