--- 
layout: post
title: Marzo
---
%p En este mes tengo muchas cosas por hacer. 

%p En principio laburar. Tom&eacute; un trabajo grande que me est&aacute; comiendo la cabeza, pero si todo sale a bien, a medidos de mayo estar&iacute;a online. Me lleva bastante tiempo, pero creo que lo vale.

%p Por otro lado, estoy tratando de terminar el disco (como ya dije #{link_to("aqu&iacute;", "http://www.lucasefe.com.ar/2009/3/4/justo-al-caer-actualizaci-n")}) y marzo es el &uacute;ltimo mes que me banco. Es el l&iacute;mite. En cuanto vuelva Ezequiel y verifique que los coros que grabamos con Tam est&aacute;n bien, nos ponemos a mezclar. De ah&iacute; a que el disco vea la luz son solo un par de semanas. 

%p Finalmente tambi&eacute;n est&aacute;n las citas obligadas con las visitas. Si, una forma muy rid&iacute;cula de referirme a recitales. El 14 de marzo viene Radiohead y el 5 de abril (o por ah&iacute;) viene KISS. Solo me faltar&iacute;a que viniera #{link_to("Rush", "http://www.rush.com")}, pero la veo jodida. Tal vez si me hiciera religioso... no? Es que no tengo a quien pedirle. Antes le ped&iacute;amos a Grinbank, pero ahora no s&eacute;. Creo que ahora lo que hay que pedir es que no se sigan zarpando con los precios. Seg&uacute;n Tam, desde Lenny Kravitz que se avivaron que la gente paga lo que le pongan en el papelito sin chistar. No somos m&aacute;s boludos porque no tenemos tiempo. 

%p Y para terminar, marzo es otro mes donde voy a estar con mi china, y eso no es un tema menor. 
