---
title: Justo al Caer en Vicente López
---

%p Para ir cerrando un año de mucho trabajo, nos vamos a presentar el sábado 26 de diciembre en el Paseo de la Costa a las 17hs, en Urquiza y el Rio, en Vicente López. Compartiremos escenario con Dikumda.

%p La entrada es gratuita. Solo hay que traerse algo para disfrutar del día y para tomar unos mates con los Justo.

%p Más datos en los próximos días.
