--- 
layout: post
title: Debt
---
%p Ayer hablaba con un compa&oacute;ero de trabajo. Me cont&oacute; de sus viajes y sus desiciones laborales m&aacute;s que acertadas. Charlamos durante el almuerzo muy distentidamente, y yo le coment&eacute; que me costaba dejar los laburos siempre, por ese sentimiento de attachment. Digamos, de deuda impaga. Le dije que me sorprend&iacute;a c&oacute;mo manejaba &eacute;l eso. A &eacute;l no le pasa eso... Admirable. Esa cosa de El Deber. 

%p Volvimos al trabajo y labur&eacute;, bien, como siempre, robot-man... pero me fui con un no se qu&eacute; atravezado en la garganta. Sent&iacute;a ese freno que te parte, la rutina insoportable. Corriendo una carrera que no es tal. La fucking zanahoria. Esa cosa de lo que hay que hacer, what we must conquer, the things we need to acomplish "to fulfill our destiny..." (como dice tu fono). La vida tiene que ser m&aacute;s simple... realmente. 

%p Si fuera por mi sab&eacute;s que har&iacute;a? Y antes de contestar pienso: Y si no es por mi, por qui&eacute;n es? Ah&iacute; est&aacute; la cuesti&oacute;n... Fuck... (Me odio a veces... &iquest;Qu&eacute; hago ahora con esa mierda que escuch&eacute;?). Cu&aacute;nto estamos realmente haciendo por nosotros? No ser&aacute; que siempre estamos luchando por el amor del Otro? De eso se trata? Uno "es" quien cree que es en funci&oacute;n del Otro? Qu&eacute; ser&aacute; de nosotros sin la existencia del Otro? Me asesina esa prisi&oacute;n, y a la vez, esa celda es tambi&eacute;n un lugar seguro, de certeza.

%p Si, hoy a la tarde me tomo una pastilla para no pensar... as&iacute; me puedo transformar en un robotito tonto que sigue un destino que no entiende...

%p Sent. 
