--- 
layout: post
title: Justo al Caer busca baterista
---
%p 
  Para terminar de consolidar este proyecto, cuyo objetivo es conformar un grupo de rock-pop que suene potente, ajustado y donde por sobre todo se piense en componer buenas canciones, necesitamos un baterista que, influenciado por bandas del estilo de Soda Stereo, Pearl Jam, Radiohead (y otras) pueda enmarcar a Justo al Caer  y completar la formación.
 
%p 
  Podés escuchar nuestro EP
  = link_to('http://www.justoalcaer.com.ar/ep.html', 'http://www.justoalcaer.com.ar/ep.html')
 
%p Buscamos a alguien con pasión por la música, profesionalismo y sobre todo ganas. Si te interesa, contactate mandándonos un mail a info@justoalcaer.com.ar.