---
title: ¡Justo al Caer en Olivos, no te olvides!
layout: post
---

%p Les escribo para recordarles que el d&iacute;a 12 de Junio (pr&oacute;ximo s&aacute;bado) nos vamos a estar presentando en Olivos, m&aacute;s precisamente en Ugarte 2684, a unas 10 cuadras de Av. Maip&uacute; en el sal&oacute;n de eventos Espacio Olivos. Comenzar&aacute; temprano, a las 21/21:30, y la entrada costar&aacute; $10. 

%p En esta ocasi&oacute;n estrenaremos flamante baterista (Edu Vestel), quien se encargar&aacute; de hacernos olvidar de la existencia del Chino que tocaba antes. :) Adem&aacute;s nos estar&aacute;n acompa&ntilde;ando los locales Experimento Zeus. 

%p 
  M&aacute;s data en el siguiente 
  = link_to('link', 'http://www.justoalcaer.com.ar/2010/05/28/justo-al-caer-en-olivos.html')

%p Saludos, y gracias a todos por la difusi&oacute;n.

