---
title: Going static
layout: post
---
%p Luego de usar mephisto durante al menos 2 años, decid&iacute; actualizar el blog. La idea era liberar un poco de memoria de mi golpeado VPS, as&iacute; que decid&iacute; probar #{link_to("Jekyll", "http://wiki.github.com/mojombo/jekyll")}.

%p Jekyll es para programadores o aficionados, o al menos eso es lo que me parece a mi. La idea es salir del modleo clásico de aplicación de blogging, donde la paginas se generan dinámicamente cuando son requeridas. En cambio la mano es escribir cada página en el lenguaje que te sea más cómodo y/o práctico, sea Markdown, Haml u otro, y luego decirle a Jekyll que te genere las páginas estáticas, todo de una, en una sola pasada. La verdad es que inicialmente pensé que iba a resultar un poco restringido, pero me equivoqué. Para blog alcanza y sobra. El plus es que no tengo un proceso Ruby corriendo para algo tan trivial como desplegar páginas estáticas. 

%p Si quieren mirar, el c&oacute;digo est&aacute; en #{link_to('github', 'http://github.com/lucasefe/lucasefe.com.ar')}