---
title: EP, nuevamente disponible para descargar
layout: post
tags: 
- descargas
---
%p Con el cambio de dise&ntilde;o (no se si se nota) algunas cosas nos quedaron en el camino. Una de ellas fue la p&aacute;gina de descargas de 'A kil&oacute;metros de ac&aacute;', nuestro primer EP, editado digitalmente el a&ntilde;o pasado. Por suerte nos avivamos y ya se puede bajar nuevamente. 
%p Descargalo haciendo clic en la tapa!

#ep 
  %p.cover
    %a{:href => '/ep.html'}
      %img{:src => '/images/JACEP2009-small.png'}

    
  