---
layout: post
title: Presentación en Libario, Palermo
---
%p
  %img{:src => '/images/2010709-Libario.png'}

%p El Viernes 9 de Julio nos presentamos nuevamente en Libario. 

%p 
  La dirección es Julián Alvarez 1315, a las 23 hs (ustedes saben cómo es el rock)

%p 
  Seguimos presentando los temas de nuestro primer EP, A kilómetros de acá, que puede ser bajado de 
  = link_to('http://www.justoalcaer.com.ar/ep.html', 'http://www.justoalcaer.com.ar/ep.html')
%p
  Más data en 
  = link_to('Sección fechas', 'http://www.justoalcaer.com.ar/fechas.html')

%p Nos vemos!

%p Justo al Caer
