---
title: Justo al Caer en Olivos
layout: post
tags: 
- fechas
---

%p 
  Buenas a todos. Luego de mucho laburo, arrancamos el año presentándonos en Espacio Olivos el día 12 de Junio de 2010, a las 21hs. Tocaremos junto a Experimento Zeus en esta ocasión. 

%p Los esperamos!

%p= link_to('Más información', '/fechas.html')
  
%iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=107081036925552538090.000487a8c401b0384b4e0&amp;ll=-34.517908,-58.502841&amp;spn=0.008009,0.01929&amp;iwloc=000487a8c408865151b8d&amp;output=embed", :width => "425"}
