---
title: Adios al Chino, hola a Edu
tags: 
- noticias
---

%p Al finalizar el a&ntilde;o pasado, luego de tanto trabajo, nos pusimos como meta terminar de formar la banda. La idea era reemplazar al chino loco que nos ayudaba detr&aacute;s, de inc&oacute;gnito, tocando la bater&iacute;a. Esta no era la primera que nos pon&iacute;amos a buscar un baterista, as&iacute; que no ten&iacute;amos un mont&oacute;n de f&eacute;. 

%p Pusimos un par de avisa, pero no pas&oacute; nada. Al mes, mas o menos, volvimos a intentar y recibimos un mail de un flaco de 22 a&ntilde;os, llamado Eduardo. Le contestamos y acordamos un ensayo para probar tres temas. 

%p Lleg&oacute; el d&iacute;a, y Edu cay&oacute; con sus "partituras" de los temas (nosotros no sabemos tanto de m&uacute;sica como para escribir algo m&aacute;s que un cifrado). No pasaron 5 minutos y la cosa ya estaba bastante definida, encaminada, sonando. Edu sab&iacute;a lo que estaba haciendo y parec&iacute;a ser la pata que nos faltaba. 

%p Pasaron los ensayos y la cosa fue mejorando, afianz&aacute;ndose, as&iacute; que quer&iacute;amos darle la bienvenida a la banda formalmente. 

%h3 Bienvenido, Edu! 