---
title: Nuevas fotos del recital en Espacio Olivos
layout: post
tags: 
- fechas
---

%p Acabamos de subir las fotos del recital del sábado en Espacio Olivos. 

%p 
  %img{:src=>'http://farm2.static.flickr.com/1277/4705467823_937fd1dfe9.jpg', :alt => "Justo al Caer"}
%p 
  Podés verlas haciendo clic 
  = link_to 'aquí', '/fotos.html'